body {
    background-color: rgb(0, 0, 59);
    margin: 0;
    }

* {
    font-family: "Jetbrains Mono";
}

.grid-container {
    display: grid;
    grid-template-columns: 0.30fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.grid-item {
    color: rgb(150, 150, 255);
    background: rgba(75, 75, 248, 0.315);
    border-radius: 8px;
    padding: 1cm;
    transition: background-color 0.5s, color 0.5s;
}

.light-mode .grid-item {
    background-color: rgba(187, 187, 187, 0.31);
    color: black;
    transition: background-color 0.5s, color 0.5s;

}

.link {
    color: rgb(105, 105, 255)
}

.crop {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50px;
}

.crop img {
    width: 300px;
    height: 510px;
}

.mode {
    background: rgb(255, 255, 255);
    color:rgb(0, 0, 0); 
    width: 7vw;
    height: 5vh;
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    transition: background-color 0.5s, color 0.5s;
}

.mode.black {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: background-color 0.5s, color 0.5s;
}